.rec.rec-arrow {
  visibility: hidden;
}
.rec-slider-container .file-upload input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: auto;
  left: auto;
  overflow: hidden;
}

.rec-pagination {
  visibility: hidden;
}
.rec-carousel-wrapper.content {
  padding: 0;
  max-width: 80%;
}
.carousel-right {
  text-align: right;
  float: right;
}

#top .bkVSTc {
  /* display: none; */
}
.paging-scroll{
  height: 5px;
  width: 60%;
  background-color: white;
}
.paging-button{
  height: 5px;
  display: inline-flex;
  width: 100;
  background-color: #F68C20;
}

