@media (max-width: 812px) {
  .card-img {
    height: 263px !important;
  }
}
.config {
    background: #3a405e;
    height: 100%;
    border: 1px solid #707070;
    border-radius: 80px 0 0 0;
    z-index: 2;
    width: 250px!important;
    position: fixed;
    right: 0;
    top: 30px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-config {
    position: fixed;
    background: #fff 0 0 no-repeat padding-box;
    opacity: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    z-index: 2;
    width: 100%;
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.content-config{
    width: max-content;
}
input{
    border: none;
    background-color: transparent;
    width: -webkit-fill-available;
}