@media (max-width: 812px) {
  .card-img {
    height: 263px !important;
  }
}
.row {
  margin-left: 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 14px;
  /* vertical-align: -webkit-baseline-middle;*/
  top: 5px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  background-color: #2196f3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.config {
  background: #3a405e;
  height: 100%;
  border: 1px solid #707070;
  border-radius: 80px 0 0 0;
  z-index: 2;
  width: 250px !important;
  position: fixed;
  right: 0;
  top: 60px;
  padding: 50 5px 0;
  color: #fff;
  font-size: 14px;
  overflow-y: auto;
  padding-bottom: 110px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-config {
  position: fixed;
  opacity: 1;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); */
  z-index: 2;
  width: 100%;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.config-footer {
  position: fixed;
  width: 250px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  background: 0px 0px no-repeat padding-box padding-box rgb(10, 14, 27);
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.content-config {
  width: auto;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  background: #fff 0 0 no-repeat padding-box;
  height: 96%;
  overflow-y: auto;
  border: 3px dashed #e8e7f2;
  margin: 10px 260px 10px 10px;
  top: 70px;
  /* display: inline-block; */
}
.coursepageconf textarea,
.coursepageconf input {
  border: none;
  background-color: transparent;
  /* width: -webkit-fill-available; */
  resize: none;
  overflow-y: hidden;
}
.display {
  display: inline;
}
.cover {
  display: none;
}
.config button {
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 5px;
  width: 100%;
  padding: 0;
  font-size: 14px;
}
.config .btn-primary {
  background-color: #f56962;
  border-color: #f56962;
}
textarea {
  width: 100%;
}
.coursepageconf .buy-course {
  margin: 0;
  margin-top: -60px;
}
.coursepageconf .content.description,
.coursepageconf .content .overview,
.coursepageconf .content .curriculum {
  margin-left: 0;
}

.coursepageconf .buy-course .card-img-top {
  height: 200px;
}
.config input[type=text] {
  border-bottom: 1px solid #fff;
}
.config input[type=color]{
  float: right;
}
.coursepageconf .overview textarea {
  height: 180px;
  font-size: 12pt;
  overflow-y: hidden;
}
.beliveconf textarea {
  height: 180px;
  font-size: 14pt;
  overflow-y: hidden;
}

.file-upload {
  /* height:100px;
	width:100px;
	margin:40px auto;
	border:1px solid #f0c0d0;
	border-radius:100px; */
  overflow: hidden;
  /* position:relative; */
}
.file-upload input {
  opacity: 0;
  position: absolute;
  height: 200px;
  width: 100%;
  left: 0;
  /* -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);   */
}
.file-upload img {
  width: 100%;
}
