@import url('https://fonts.googleapis.com/css?family=Source+Poppins&display=swap');

.coursepage {
  text-align: left;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) / 40px
    var(--unnamed-font-family-poppins);
  font-family: Poppins;
  line-height: normal;
}
.content {
  max-width: 70%;
  margin: auto;
  padding: 20px;
}
.header {
  background: #fef0ef 0% 0% no-repeat padding-box;
  padding: 20px;
}
h1 {
  color: var(--unnamed-color-5f5982);
  text-align: left;
  font: normal normal normal 40px/60px Poppins;
  letter-spacing: 0px;
  color: #5f5982;
}
h3 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) / 40px
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnam ed-character-spacing-0);
  color: var(--unnamed-color-5f5982);
  text-align: left;
  font: normal normal normal 24px/40px Poppins;
  letter-spacing: 0px;
  color: #5f5982;
}
.overview {
  padding: 20px;
}
.overview h5 {
  font: normal normal 600 24px/24px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  font-weight: bold;
  margin: 20px;
}
.overview h6 {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-5f5982);
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
  color: #5f5982;
  font-weight: 100;
  margin: 10px;
}
.btn,
.descriprion .btn,
.btn-outline-primary:hover,
.btn-outline-primary::after {
  color: #5f5982;
  background-color: #efeff6;
  border-color: #efeff6;
  padding: 5px 10px;
  border-radius: 4px;
  font: normal normal medium 18px/24px Poppins;
  font-size: 1.25rem;
  letter-spacing: 0.54px;
  margin: 5px;
}
.btn-primary {
  color: #fff;
  background-color: #f56962;
  border-color: #f56962;
  padding: 5px 10px;
  border-radius: 4px;
  font: normal normal medium 18px/24px Poppins;
  font-size: 1.25rem;
  letter-spacing: 0.54px;
  color: #ffffff;
  text-align: center;
}
.btn-choose,
.btn-outline-primary:hover,
.btn-outline-primary::after {
  background: #f68c20 0% 0% no-repeat padding-box;
  font: normal normal medium 18px/24px Poppins;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.25rem;
  letter-spacing: 0px;
  color: #ffffff;
}
.list-group-item .btn-choose {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
}
.curriculum {
  margin: 30px 0px;
}
.curriculum .list-group-item {
  border: none;
  background-color: #f4f9fd;
  padding: 0.75rem 0.25rem;
  color: var(---main-text);
  text-align: left;
  font: normal normal medium 24px/31px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  margin: 10px 0px;
}
.list-group-item div {
  color: var(---tittle-active-colour);
  text-align: left;
  font: normal normal normal 14px/25px Poppins;
  letter-spacing: 0px;
  color: #f68c20;
}
.list-group-item {
  padding: 0.75rem 0.25rem;
}
.buy-course {
  float: right;
  margin: 15px;
  margin-right: 15%;
  margin-top: -10%;
  border-width: 0 0 1px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/* .row {
  display: block;
} */
.buy-course .card-text {
  color: var(---tittle-active-colour);
  text-align: center;
  letter-spacing: 0.32px;
  color: #f68c20;
}
.buy-course .card-title {
  text-align: center;
}
.header-view {
  max-width: 65%;
}
.buy-course .list-group-item {
  /* border: 5px; */
  background-color: #fff;
}
.margin-view {
  margin-top: -15%;
}
.card-list {
  font-size: 0.75rem;
}
.card-list img {
  margin-right: 5px;
}
.card-list h5 {
  margin: 15px;
}
.card-list p {
  font-size: 0.75rem;
}
.card {
  margin: 0px;
  padding: 20px;
}

.buy-course .card {
  margin-bottom: 0px !important;
}
.belive {
  /* max-width: 50%; */
  background: #fef0ef 0% 0% no-repeat padding-box;

  margin: 30px auto;
  padding: 50px;
}
.belive p {
  /* max-width: 50%; */
  font-size: 11pt;
  font: normal normal normal 18px/24px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  letter-spacing: var(--unnamed-character-spacing-0);
}
.belive p i {
  font-size: 20pt;
  color: var(---main-text);
  text-align: left;
  font: italic normal medium 32px/60px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
}
.belive img {
  width: inherit;
}
.header .text-own {
  top: 75px;
}
.dropdown-toggle.btn:focus,
.dropdown-toggle.btn:focus-within,
.dropdown-toggle.btn:active {
  color: black;
  background-color: transparent;
  border-color: black;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-danger {
  color: #fff;
  background-color: #f56962;
  border-color: #f56962;
  padding: 5px 10px;
  border-radius: 4px;
  font: normal normal medium 18px/24px Poppins;
  font-size: 1.25rem;
  letter-spacing: 0.54px;
  color: #ffffff;
  text-align: center;
}
.btn-light {
  background-color: transparent;
  border: none;
}
.card .header {
  background: transparent;
  padding: 5px;
}
.top-card img {
  float: right;
  width: 40%;
  max-height: max-content;
  height: 100%;
  width: auto;
  /* right: 0; */
  /* bottom: 0; */
  margin-right: -40px;
}
.top-card {
  height: 250px;
  /* background-color: #fff; */
  background-image: url('/assets/img_from_xd/User-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-card .card-body {
  margin-left: 10px;
}
.top-card .card-title{
  font-size: 14px;
  font-weight: 600;
}
.top-card .card-text{
  font-size: 10px;

}
#top {
  background-color: #efeff6;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
.reviews {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.32px;
  color: #5f5982;
  background: #fef0ef 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 15px;
}
.instructor {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.32px;
  color: #5f5982;
  background: #fef0ef 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 15px;
  display: flex;
}
.reviews img,
.instructor img {
  width: fit-content;
}
.instructor h3 {
  text-align: left;
  font: normal normal 600 24px/24px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  margin: 10px 0;
}
.instructor h4,
.instructor .icons {
  margin: 10px 0;
}
.reviews p {
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0.32px;
  color: #5f5982;
}
.icons {
  font-size: smaller;
}
.top-card .discount {
  font: normal normal normal 11px/20px Poppins;
  margin-left: -45px;
  padding: 10px;
  max-width: 60%;
  border-radius: 7px;
  color: #ffffff;
}
.discount h6 {
  font: normal normal normal 30px/24px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
}
.top-card .card-text {
  font: normal normal normal 16px/30px Poppins;
}
.video {
  background-color: #5f5982;
  height: 200px;
  display: flex;
}

.header .col-3 {
  text-align: left;
  padding: 0;
}
.header .container {
  padding: 0;
  margin-right: 20px;
  font: normal normal normal 14px/25px Poppins;
  letter-spacing: 0px;
}
@media(max-width:1200px){
  .btn{
    padding: 5px 5px;
  }
}
@media (max-width: 812px) {
  .btn{
    padding: 5px 5px;
  }
  .coursepage {
    font-size: smaller;
  }
  h1 {
    font: normal normal normal 24px/40px Poppins;
  }
  h3 {
    font: normal normal normal 18px/24px Poppins;
  }
  .content {
    max-width: 100%;
  }
  .header .col-3 {
    text-align: left;
    padding: 0;
  }
  .discover-in-iphone {
    display: none;
  }
  .header-view {
    max-width: 100%;
  }
  .video {
    display: block;
  }
  .buy-course {
    margin-top: 0;
  }
  .curriculum .list-group {
    flex-direction: inherit;
  }
  .list-group-item .btn-choose {
    font: normal normal normal 20px/20px Poppins;
  }
  .card-img {
    height: 100px !important;
    object-fit: cover;
  }
  .top-card .discount {
    font: normal normal normal 16px/35px Poppins;
    margin-left: -45px;
    padding: 5px;
  }
}
