/* @import url('https://fonts.googleapis.com/css?family=Source+Poppins&display=swap'); */

.App {
  text-align: center;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) / 40px
    var(--unnamed-font-family-poppins);
  font-family: Poppins;
  line-height: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-item{
  align-self: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-expand .navbar-nav {
  margin: auto;
}
.text-own{
  position: absolute;
  top: 55px;
  left: 50%;
  width: -webkit-fill-available;
  transform: translate(-50%, -50%);
  /* text-shadow: 2px 2px 5px #f56962; */
  background-color: #f56962;
  text-align: center;

}
.navbar {
  opacity: 1;
  background-color: transparent !important;
  max-width: 70%;
  margin: 10px auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #544e7a;
}
.register {
  background: #f56962 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  color: white;
  border-color: white;
}
Button,
.btn-outline-primary:hover,
.btn-outline-primary::after {
  color: #fff;
  background-color: #f56962;
  border-color: #f56962;
  padding: 5px 10px;
  border-radius: 4px;
  font: normal normal medium 18px/24px Poppins;
  font-size: 1.25rem;
  letter-spacing: 0.54px;
  color: #ffffff;
}

.card {
  margin: 20px;
  padding: 10px;
  border: 0px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 20px !important;
}
/* .header {
  background-color: white;
} */
.card-img {
  height: 263px !important;
  object-fit: cover;
}

.card-deck {
  max-width: 70%;
  margin: auto;
  background-color: transparent;
  padding: 30px 0px;
}
.title {
  max-width: 70%;
  margin: auto;
  background-color: transparent;
  padding: 50px 25px 0px 25px;
  text-align: left;
  text-align: left;
  font: normal normal medium 40px/48px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  font-size: 2rem;
}
/* .title h3 {
  font-size: 2rem;
   
}*/
.title #see-all {
  background: #f56962 0% 0% no-repeat padding-box;
  border-radius: 4px;
  display: flex;
  padding: 5px 10px;
  float: right;
}
.title Form {
  float: right;
}
#world {
  background-color: #fef0ef;
}
#choice {
  background-color: #efeff6;
}
.card-header .col-4 {
  padding-left: 0px;
  padding-right: 0px;
}
svg {
  margin: 0px 5px 5px 5px;
}

.card-header {
  padding: 0.75rem 0rem;
  background-color: white;
  font: normal normal normal 14px/25px Poppins;
  letter-spacing: 0px;
  color: #5f5982;
}
.card-body {
  padding: 1.25rem 0px;
  font: normal normal medium 24px/32px Poppins;
  letter-spacing: 0px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
.play-circle,
.fa-star {
  color: #3e9365;
}
header {
  max-width: 90%;
  height: 650px;
  max-height: max-content;
  background: var(--bg) 0% 0% no-repeat padding-box;
  background: #33333d 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 50px;
  opacity: 1;
  margin: auto;
  text-align: right;
  padding: 100px;
}
header img {
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  /* margin-top: 10px;
  height: 79%; */
  margin-top: 100px;
  height: -webkit-fill-available;
}
.learn {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-60) / 80px var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 50px/70px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.choose {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) / 40px
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 22px/34px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.middle {
  align-items: center;
}
.search-bar {
  margin: 50px 0px;
  max-width: 70%;
}
#basic-addon2 {
  background-color: #f56962;
  border: none;
}
.form-control {
  height: 50px;
}
#choice h3 {
  color: var(---main-text);
  text-align: left;
  font: normal normal medium 40px/24px Poppins;
  letter-spacing: 0px;
}
.category-card {
  max-width: 170px;
  height: 183px;
  margin: auto;
  text-align: center;
  background-color: #ddf7ff;
}
.category-card .card-body {
  flex: none;
}
.category-card:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* filter: brightness(50%); */
  opacity: 1;
  cursor: pointer;
}
.category-card img {
  margin: auto;
  max-width: 53px;
  height: 53px;
}
/* .btn-primary {
  color: #5f5982;
  background-color: transparent;
  border: none;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-5f5982);
  text-align: left;
  font: normal normal normal 18px/24px Poppins;
  letter-spacing: 0px;
} */
.dropdown-toggle.btn:hover {
  color: black;
  background-color: transparent;
  border-color: black;
}
.dropdown-toggle.btn:focus,
.dropdown-toggle.btn:focus-within,
.dropdown-toggle.btn:active {
  color: black;
  background-color: transparent;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.profile img {
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding-right: 5px;
}
.profile {
  padding: 0px;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #7a7a7a;
  margin: auto;
}
.price {
  font: normal normal bold 18px/24px Poppins;
  letter-spacing: 0.36px;
  color: #f68c20;
  margin: auto;
  padding: 0px 0px;
}
.price span {
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0.32px;
  color: #cac6d4;
  text-decoration: line-through;
}
.cta {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-40) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-poppins);
  background: var(--bg) 0% 0% no-repeat padding-box;
  background: #33333d 0% 0% no-repeat padding-box;
  border-radius: 0px 219px;
  max-width: 70%;
  height: 408px;
  margin: 80px auto;
  color: white;
  font: normal normal medium 30px/20px Poppins;
  text-align: center;
  padding: 80px;
}

.cta h1 {
  letter-spacing: 0px;
  font-family: Poppins;
  color: #ffffff;
  opacity: 1;
  font-size: 2rem;
}
.cta h4 {
  max-width: 898;
  letter-spacing: var(--unnamed-character-spacing-0);
  font-family: Poppins;
  padding: 30px;
  font-weight: 100;
}
.cta button {
  font-size: larger;
}
.btn-primary:hover {
  color: #fff;
  background-color: #f56962;
  border-color: #f56962;
}

.test {
  background: #efeff6 0% 0% no-repeat padding-box;
}
.test .none {
  display: none;
}
.test-card {
  border-radius: 0px 30px 0px 0px;
}
.test-card img {
  margin-right: 10px;
}
.test .title button {
  background: white 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #5f5982;
  border: white;
  margin-left: 10px;
  margin-top: 5px;
}
.test li {
  visibility: hidden;
}
.partner .title button {
  background: #efeff6 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: white;
  border: #efeff6;
  margin-left: 10px;
  margin-top: 5px;
}
.carousel button {
  background: white 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #5f5982;
  border: white;
}
#world .carousel button {
  margin: auto 0 0;
}
form.carousel {
  max-width: 70%;
  margin: auto;
}
.test .carousel-control-prev {
  left: 69%;
  bottom: 100%;
  top: -20px;
}
.test .carousel-control-next {
  right: 11%;
  bottom: 100%;
  top: -20px;
}
.carousel-left {
  margin-left: 15px !important;
  opacity: 1;
}
.carousel-right {
  margin-right: 15px !important;
  opacity: 1;
}
.img-thumbnail {
  border: none;
}
.partner .container {
  padding: 50px;
}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  padding: 30px 0;
}
@media (min-width: 768px) {
  .footer
  .text-md-right {
    text-align: left !important;
  }
}
section .section-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #282834 0% 0% no-repeat padding-box;
  text-align: left;
}
#footer h5 {
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 24px/24px Poppins;
  letter-spacing: 0px;
}
#footer a {
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 42px
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---icon-colour);
  text-align: left;
  font: normal normal normal 18px/42px Poppins;
  letter-spacing: 0px;
  color: #91929a;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social {
  /* margin: 20px 0; */
  /* margin-bottom: 20px; */
  float: right;
}
#footer ul.social li a svg {
  margin-right: 5px;
  margin-left: 10px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
  vertical-align: top;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
  text-align: left;
}
#footer ul.quick-links li a svg {
  margin-right: 5px;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
.all-right {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/24px Poppins;
  letter-spacing: 0px;
  color: #777777;
  border-top: 1px solid #3f3f48;
  padding: 20px;
}
.carousel-control-next,
.carousel-control-prev {
  color: #5f5982;
  opacity: 1;
}
.lerning div {
  margin-left: 72px;
  margin-bottom: 30px;
}
.lerning span {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---main-text);
  text-align: left;
  font: normal normal 600 24px/24px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  opacity: 1;
  float: left;
  font-weight: 500;
}
.text-learning {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0-32);
  color: var(--unnamed-color-5f5982);
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0.32px;
  color: #5f5982;
}
.header-learning {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---main-text);
  text-align: left;
  font: normal normal 600 24px/24px Poppins;
  letter-spacing: 0px;
  color: #302d3a;
  opacity: 1;
}
.learning-platform .row {
  margin-top: 50px;
  margin-bottom: 50px;
}
#education {
  padding: 1px 1px;
  margin-right: 2px;
  background: #f56962 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
#world .carousel-indicators li {
  width: 50%;
  margin: auto 0;
  background-color: #efeff6;
}
#world .carousel-indicators li.active {
  background-color: #f68c20;
}
#world .carousel-line {
  background: var(---bg) 0% 0% no-repeat padding-box;
  background: #efeff6 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: auto;
  padding: 3px;
  height: 3px;
  width: 80%;
  margin-top: 23px;
}
#world .carousel-control-next {
  right: 10%;
}
#world .carousel-control-prev {
  left: 10%;
}
#world .carousel-indicators {
  max-width: 58%;
  margin: auto;
  margin-bottom: 10px;
}
.course-card:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* filter: brightness(50%); */
  opacity: 1;
  cursor: pointer;
}
.user-img {
  height: 25px;
  border-radius: 20px;
  align-items: center;
  align-self: center;
}
.user-nav {
  float: right;
}
@media (max-width: 812px) {
  header img {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .App {
    font-size: smaller;
  }
  header img {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 50%;
    margin-top: 9px;
  }
  header {
    height: 400px;
    padding: 50px;
  }
  .learn {
    font: normal normal bold 30px/40px Poppins;
  }
  .choose {
    font: normal normal normal 15px/19px Poppins;
  }
  .navbar {
    max-width: 90%;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-24) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
  }
  .category-card .card-body {
    display: none;
  }
  .category-card .card-img-top {
    margin: 0 0;
  }
  .category-card {
    height: auto;
  }

  .course-card .col-2,
  .course-card .col-5,
  .course-card .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  .learning-platform img {
    display: none;
  }
  .learning-platform .col-6 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .cta {
    padding: 50px;
    font-size: 18px;
  }
  .cta h1 {
    font-size: 30px;
  }
  .App {
    font-size: smaller;
  }
}
